/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .dropdown-item.dropdown-notification:active, .dropdown-item.dropdown-notification.active {
    color: #1d1e1f;
    text-decoration: none;
    background-color: #f7f7f9;
  }
  
  .dropdown-notification:hover .notification-read {
    color: #34495E;
  }
  
  .dropdown-notification-all {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-style: oblique;
    background-color: #34495E;
    color: white;
  }
  
  .dropdown-notification-all:hover {
    background-color: #34495E;
    color: white;
  }
  
  .notifications-container {
    max-height: 300px;
    overflow: auto;
  }
  
  .notification-dropdown-menu {
    padding-bottom: 0;
    min-width: 528px;
  }
  
  .notification-img {
    width: 48px;
    display: inline-block;
    vertical-align: top;
  }
  
  .notifications-body {
    display: inline-block;
  }
  
  .notification-texte {
    text-align: left;
    margin: 0;
  }
  
  .notification-read {
    margin: 0;
    height: 48px;
    vertical-align: top;
    line-height: 48px;
    padding-left: 15px;
    color: white;
    float: right;
  }
  
  .notification-date {
    text-align: left;
    color: #2980b9;
    margin: 0;
  }
  
  .notification-solo {
    margin-top: 1rem;
  }
  
  .notification-unread {
    text-decoration: none;
    background-color: #f7f7f9;
  }

  #lab_social_icon_footer {
    padding: 40px 0;
    background-color: #dedede;
  }
  
  #lab_social_icon_footer a {
    color: #333;
  }
  
  #lab_social_icon_footer .social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  
  #lab_social_icon_footer .social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
  }
  /*
      Multicoloured Hover Variations
  */
  
  #lab_social_icon_footer #social-gp:hover {
    color: #d34836;
  }
  